body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #121212;
    color: #ffffff;
    text-align: center;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

#message-area {
    font-size: 20px;
    color: #bbb;
    margin-bottom: 20px;
    min-height: 30px;
}

#flip-container {
    display: none;
    margin-bottom: 30px;
    animation: fadeIn 0.5s;
}

.flip-icon {
    font-size: 60px;
    animation: rotate 2s infinite ease-in-out;
    display: block;
    margin-bottom: 15px;
}

@keyframes rotate {
    0% {
        transform: rotateY(0);
    }

    50% {
        transform: rotateY(180deg);
    }

    100% {
        transform: rotateY(0);
    }
}

#btn-manual-play {
    background-color: #1DB954;
    color: white;
    border: none;
    padding: 12px 25px;
    font-size: 16px;
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 0 4px 10px rgba(29, 185, 84, 0.4);
}

#song-info {
    display: none;
    width: 90%;
    animation: slideUp 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.info-artist {
    font-size: 24px;
    color: #e0e0e0;
    margin-bottom: 10px;
    font-weight: 500;
}

.info-date-container {
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin: 10px 0;
    color: #ffffff;
}

.info-month {
    font-size: 28px;
    font-weight: normal;
    margin-right: 5px;
    color: #ccc;
}

.info-year {
    font-size: 64px;
    font-weight: bold;
    letter-spacing: -2px;
    line-height: 1;
}

.info-title {
    font-size: 32px;
    color: #1DB954;
    margin-top: 15px;
    font-weight: bold;
    line-height: 1.2;
}

@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(40px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#controls {
    margin-top: 40px;
}

.btn {
    background-color: #1DB954;
    color: #ffffff;
    border: none;
    padding: 20px 50px;
    font-size: 22px;
    border-radius: 50px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 1px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.6);
    transition: transform 0.1s;
}

.btn:active {
    transform: scale(0.95);
}

.btn-secondary {
    background-color: #333;
    color: white;
    font-size: 16px;
    padding: 15px 30px;
    margin-top: 15px;
    border: 1px solid #555;
}

#scan-container {
    width: 300px;
    height: 300px;
    background: #000;
    border: 4px solid #333;
    border-radius: 20px;
    overflow: hidden;
    display: none;
    margin-bottom: 20px;
}

#player-wrapper {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

#btn-install {
    display: none;
    background: #222;
    color: #888;
    border: 1px solid #444;
    border-radius: 20px;
    font-size: 12px;
    padding: 10px 20px;
    margin-top: 50px;
    cursor: pointer;
}